
.titulo_index{
  color: red;
  font-size:50px;
  text-align: center;
  text-decoration: underline;
}
.logo{
  color: red;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}
a{
  text-decoration: none;
}
ul,
li{
  list-style: none;
}
.container{
  padding: 0 1.6rem;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  line-height: 1rem;
  background-color: black;
  justify-content:center;
  z-index: 5;
}
.nav img{
  height: 100px;
}
.nav__center{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 50px;
  height: 100%;
}
.nav__list{
  display: flex;
  align-items: center;
}
.nav__list li{
  padding: 20px;
  
}
.nav__list li a{
  color: white;
}
.nav__list li a:hover{
  color:red;
}
.nav__list span{
  display: inline-block;
  font-size: 3.5rem;
  margin-top: .2rem;
  margin-right: 2rem;
  color: red;
}
.carrito__icon{
  position: relative;
  cursor: pointer;
}
.icono_carro{
  margin-top: .6rem;
  font-size: 2rem;
  color: red;
}
.carrito__icon span{
  position: absolute;
  top: -.4rem;
  right: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: var(--white);
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

/*productos*/



.productos{
  padding: 3rem 0;
  margin:  200px 150px;

}
.productos__center{
  padding: 0 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem 2rem;
}
.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
  border: solid 4px red;
  border-radius: 20px;
}

.productos__footer{
  padding: 3rem;
  width: 100%;

}
.productos__footer h3{
  height: 25px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  text-align:center;
}
.bottom{
  padding: 2rem 0;
}
.btn{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1rem 1rem;
  color: black;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 20px;
}
.btn:hover{
  background-color: red;
  color: white;
  border: none;
  
}
.price{
  font-weight: 700;
  font-size: 1.8rem;
  text-align:center
}
.image__container img{
  width: 250px;
  height:200px;
  
}
.detalles{
  margin-top: 200px;
  flex-direction: row;
  justify-content: center;
}
.detalles img{
  width: 50rem;
  height: 40rem;
}
.datos {
  width: 50%;
}
.contador{
  display: flex;
  margin: 20px;
  justify-content: center;
}
.contador h2 {
  margin: 10px;
}
.datoContador{
  padding: 100px;
  justify-content: center;
  align-items: center;
}
.contenedorBoton{
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}